@import "tailwindcss";

:root {
  --primary: #4B3D25;
  --secondary: #8A6E4E;
  --lightGold: #F0E68C;
  --light: #C0B283;
  --lighter: #F1E3D3;
  --highlight: #FFFFE9;
  --gray: #D9D9D9;
  --grey-dark: #343A40;
  --input: #635959;
  --placeholder: #948888;
  --dark: #2A2A2A;


  --secondary-80: rgba(138, 110, 78, 0.8);
  --light-80: rgba(240, 230, 140, 0.8);

  --secondary-hover: #73583C;
  --primary-hover: #5C472C;

  --dashboard-bg: #F1E3D3;
  --card-bg: #FFFFFF;

}


@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-lightGold: var(--lightGold);
  --color-light: var(--light);
  --color-lighter: var(--lighter);
  --color-highlight: var(--highlight);
  --color-gray: var(--gray);
  --color-gray-dark: var(--gray-dark);
  --color-input: var(--input);
  --color-placeholder: var(--placeholder);
  --color-dark: var(--dark);

  --color-secondary-hover: var(--secondary-hover);
  --color-primary-hover: var(--primary-hover);


  --color-dashboard-bg: var(--dashboard-bg);
  --color-card-bg: var(--card-bg);

  --breakpoint-xs: 480px;
  --animate-fadeInUp: fadeInUp 1s ease-in-out forwards;

  @keyframes fadeInUp {
    0% {
      transform: scale(1.15) translateY(-30px);
      opacity: 0;
    }

    100% {
      transform: scale(1) translateY(0);
      opacity: 1;
    }
  }
}


body {
  font-family: var(--font-app), Arial, sans-serif;
}

@layer base {

  button {
    @apply cursor-pointer;
  }

  [disabled] {
    opacity: 0.5;
    pointer-events: none;
    /* prevent clicks */
    cursor: not-allowed;
  }

  .container {
    margin-inline: auto;

  }

  .hidden-passowrd::-ms-reveal,
  .hidden-passowrd::-ms-clear {
    display: none;
  }

}



@layer components {
  .basic-shadow {
    box-shadow: 0px 4px 32px 0px #00000026;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .hero-height {
    min-height: 932px;
  }

  @media (width >=96rem) {
    .float-image {
      inset-inline-start: -0%;
    }

    .float-image-reversed {
      inset-inline-end: -0%;
    }
  }

  .custom-shadow {
    box-shadow: 0 7px 29px rgba(100, 100, 111, .2);
  }

  .animate-fadeInUp {
    animation: fadeInUp 0.5s ease-out forwards;
  }

  .image-scale {
    @apply transition-transform duration-300 ease-in-out
  }

  .image-scale:hover {
    @apply scale-103
  }


  .image-wrapper>*:last-child {
    margin-left: 0 !important;
  }


  #hero {
    background: linear-gradient(180deg, var(--secondary-80) 21.27%, var(--light-80) 85.1%);
  }

  .hero-title {
    margin-inline-start: 0;
  }

  @media (min-width: 96rem) {
    .hero-title {
      margin-inline-start: 30%;
    }
  }

  .thin-scrollbar::-webkit-scrollbar {
    height: 7px;

    /* horizontal scrollbar height */
  }

  .thin-scrollbar::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
    /* gray-400 */
    border-radius: 4px;
  }

  .thin-scrollbar::-webkit-scrollbar-track {
    background-color: #f3f4f6;
    /* gray-100 */
  }

}










/* Selected day (keyboard-selected, not range start) */
.react-datepicker__day--keyboard-selected:not(.react-datepicker__day--range-start) {
  border-radius: 50%;
  background-color: var(--secondary);
  color: white;
  z-index: -1 !important;
}

/* Hover effect */
.react-datepicker__day:hover {
  border-radius: 50%;
  background-color: var(--secondary-80) !important;
  color: white;
}

/* In-range days */
.react-datepicker__day--in-range {
  background-color: var(--secondary) !important;

  color: white !important;
  border-radius: 0px !important;
  z-index: 5 !important;
  margin: 0 !important;
  width: 33px !important;
  margin-top: 5px;
}

/* Range start and end */
.react-datepicker__day--range-start,
.react-datepicker__day--range-end {
  /* background-color: var(--primary) !important; */
  color: white !important;
  position: relative !important;
  z-index: 1 !important;
}

/* Rounded edges for range start */
/* LTR layout */
:dir(ltr) .react-datepicker__day--range-start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
  left: 3px !important;
}

/* RTL layout */
:dir(rtl) .react-datepicker__day--range-start {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
  right: 3px !important;
}

/* Rounded edges for range end */
/* LTR layout */
:dir(ltr) .react-datepicker__day--range-end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
  left: 0px !important;
  right: 10px !important;
}

/* RTL layout */
:dir(rtl) .react-datepicker__day--range-end {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
  right: 0px !important;
  left: 10px !important;
}


/* Decorative circle behind range start/end */


.react-datepicker__day--range-start::before,
.react-datepicker__day--range-end::before {
  content: "";
  background-color: var(--primary);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0px;
  z-index: -1;
}

.react-datepicker__day--range-start::before {
  transform: translate(1px, -50%);
}

.react-datepicker__day--range-end::before {
  transform: translate(-10px, -50%);
  margin-left: 13px;
}

/* While selecting range */
.react-datepicker__day--in-selecting-range {
  background-color: var(--secondary-hover) !important;
  color: white;
  border-radius: 50% !important;
}

/* Header styling */
.react-datepicker__header {
  background-color: var(--highlight);
  border: none;
}

/* Disabled days */
.react-datepicker__day--disabled {
  color: var(--placeholder);
}

/* Font and outside-month days */
.react-datepicker {
  font-family: "Mabry Pro";
}

.react-datepicker__day--outside-month {
  color: var(--gray);
}

.react-datepicker-wrapper {
  margin-bottom: 12px;
}